.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #8B7969;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}